{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="bg-light">
    <div class="container pb-5">
        <h2 class="my-4">Your Cart</h2>

        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="cart-body">
                                <!-- Sample Product Row -->
                                {% for product_id, item in cart_items.items %}

                                <tr id="row-{{item.product_id}}">

                                    <td>
                                        <img src="{{ item.product_image }}" alt="Product" width="70">
                                    </td>
                                    <td>{{item.product_name}}</td>
                                    <td>{{item.product_unit_price}}</td>
                                    <td>
                                        <button id="{{item.product_id}}" onclick="quantity('dec',this.id)" class="btn btn-success btn-sm">-</button>
                                        <span  class="mx-2" id="var-value-{{item.product_id}}">{{item.product_quantity}}</span>
                                        <button id="{{item.product_id}}" onclick="quantity('inc',this.id)" class="btn btn-success btn-sm">+</button>
                                    </td>
                                    <td id="sub-value-{{item.product_id}}">{{item.prod_total_price}}</td>
                                    <td>
                                        <button id="{{item.product_id}}" onclick="delete_product(this.id)" class="btn btn-danger btn-sm">X</button>
                                    </td>
                                </tr>

                                {% endfor %}
                                <!-- Add more rows for other products -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Cart Summary -->
            <div class="col-lg-4">
                <div class="card p-3">
                    <h4>Total</h4>
                    <p id="total">{{total}}</p>

                    <a id="checkout-button" class="btn btn-success w-100">Proceed to Checkout</a>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
