{% extends "base.html"  %}
{% load static %}
{% block content %}
<!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Filters</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Categories
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Men</a></li>
                            <li><a class="text-decoration-none" href="#">Women</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Brand
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Sport</a></li>
                            <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Product
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Bag</a></li>
                            <li><a class="text-decoration-none" href="#">Sweather</a></li>
                            <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <p id="section_name" class="h3 text-dark text-decoration-none mr-3">
                                    {% if section_name %}
                                    {{section_name|capfirst}}
                                    {% else %}
                                    All Items
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <form id="searchForm">
                            {% csrf_token %}
                        <div class="d-flex">
                            <input class="form-control" name="search" type="search" placeholder="Search here.......">
                                <input type="hidden" name="section" value="{{section_name}}" >
                        </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    {% for products in page_obj %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img  class="card-img rounded-0 img-fluid" style="width:100%;height:250px;object-fit:cover;" src="{{ products.product_image.url }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'single' products.id %}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body" style="min-height:129px;">
                                <a href="shop-single.html" class="h3 text-decoration-none">{{products.product_name}}</a>
                                <h6 class="h3 text-decoration-none">{{products.product_brand_name}}</h6>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">₹{{products.unit_product_price}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                         href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}

  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
         href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
  {% endif %}
</ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->
{% endblock %}