{% extends "base.html"  %}
{% load static %}
{% block content %}


    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 text-success">Thank You!</h1>
                <p class="lead mt-4">Your payment was successful.</p>
                <p>We’ve received your order and will process it shortly.</p>
                <a href="{% url 'home' %}" class="btn btn-success mt-3">Return to Shop</a>
            </div>
        </div>
    </section>

    {% endblock %}